.container {
	background-color:#FFEED8;
}

header {
	padding-top:3%;
	margin-bottom:-5%;
}

.icon-bar:hover {
	background-color:#341910;
}

.icon-bar {
	background-color:#A2DBEB;
}

.nav li {
	background-color:#341910;
	color:#52676d;
	padding:2%;
	font-family: 'Cabin', sans-serif;
	font-weight:bold;
}

.active li {
	color:#A2DBEB;
	border-bottom:solid 1px #341910;
}

p::selection {
	color:#37b9df;
}

h1::selection {
	color:#37b9df;
}

h2::selection {
	color:#37b9df;
}

h1 {
	margin-top:2%;
	color:#341910;
	font-family: 'Cabin', sans-serif;
}

h2 {
	font-size:2em;
	font-family: 'Cabin', sans-serif;
}

p {
	font-family: 'Cabin', sans-serif;
}

footer ul li {
	max-width:100%;
}

footer img {
	max-width:100%;
}

.row div {
	margin-top:5%;
}

.buttons {
	margin-bottom:3%;
	margin-top:3%;
}

.decay ul li {
	margin-top:5%;
}

.mag ul li {
	margin-top:5%;
}

.film ul li {
	margin-top:5%;
}

.pds ul li {
	margin-top:5%;
}

.collection ul li {
	margin-top:5%;
}

.about {
	margin-bottom:4%;
}


@media (min-width:768px) {
	.nav li {
		color:#341910;
		background-color:#FFEED8;
		display:inline-block;
		/*padding-top:3%;
		padding-bottom:3%;*/
		float:left;
		margin-right:5%;
		margin-left:3%;
	}

	.nav li:hover {
		color:#37b9df;
	}

	.links li {
		display:inline;
		margin-right:30%;
	}

	footer img {
		width:50%;
		margin-right:30%;
	}

	footer img:last-child {
		margin-right:0%;
	}

	h2 {
		margin-left:3%;
	}

	h1 {
		margin-bottom:5%;
	}

	.row div {
		margin-top:-2%;
		margin-bottom:3%;
	}

}

@media (min-width:992px) {
	.links li {
		display:inline;
		margin-right:30%;
	}

	.lead {
		
		color:#341910;
		padding-top:3%;
		padding-bottom:3%;
		margin-right:2%;
		border:dashed 1px #341910;
	}

	a .thumbnail {
		width:360px;
		height:261px;
	}

	.row div {
		display:inline-block;
		float:left;
	}

	.film ul {
		float:left;
		margin-right:0%;
	}

	.film li {
		float:left;
	}

	footer {

	}

	span .me {
		margin-bottom:10%;
	}

	h2 {
		font-size:1.5em;
	}

	.collection {
		width:85%;
	}

	.about {
		width:100%;
	}

	.decay ul {
		margin-left:11%;
	}

}

@media (min-width:469px) and (max-width:992px) {
	.logo {
		width:15%;
	}
	footer img {
		width:10%;
	}
}

/*@media (min-width:993px) and (min-width:1199px) {
	.work-images h1 {

	}
}*/